<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{data['title']}}</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="/css/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/css/bootstrap.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.fancybox-1.3.4.pack.js"></script>
  <script type="text/javascript" src="/js/jquery.easing-1.3.pack.js"></script>
  <script type="text/javascript" src="/js/bootstrap-alerts.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $("a.fancybox").fancybox();
  });
  </script>
</head>
<body>

  <div class="container">
    <header>
		<h1>{{data['title']}}</h1>
    <hr />
    </header>
    %if data['error'] == 'badpass':
    <div class="alert-message error">
      <a class="close" href="#">×</a>
      <p><strong>Неправильный пароль!</strong> Пожалуйста, попробуйте еще раз.</p>
    </div>
    %end
    %if data['error'] == 'empty':
    <div class="alert-message error">
      <a class="close" href="#">×</a>
      <p><strong>Введите логин и пароль!</strong></p>
    </div>
    %end
    %if data['error'] == 'badlogin':
    <div class="alert-message error">
      <a class="close" href="#">×</a>
      <p><strong>Неправильный логин!</strong> Пожалуйста, попробуйте еще раз.</p>
    </div>
    %end
    %if data['login'] and data['password']:
    <div id="main">
    %if data['toplevel']:
      <p><a href="/?path={{ data['toplevel'] }}">..</a></p>
    %end
    %for row in data['output']:      
      <p>
      <img src="/img/icons/{{ row["type"] }}.png" />
      %if row["type"] == 'folder':
      <a href="/?path={{ row['path'] }}">{{ row['name'] }}</a>
      %else:
      <a href="/download?path={{ row['path'] }}">{{ row['name'] }}</a>
      %if row["type"] == 'imagen':
      <a href="/img/view?path={{ row['path'] }}" class="fancybox"><img src="/img/icons/image_view.png" /></a>
      %end
      %end
      </p>
    %end
    </div>
    %else:
    <div>
      <form action="/login" method="POST">
        Логин: <br /><input name="login" type="text" /><br />
        Пароль: <br /><input name="password" type="password" /><br />
        <input type="submit" value="Войти!">
      </from>
    </div>
    %end
    <footer>
		created by <a href="//inlanger.org.ua">inlanger</a>
    </footer>
  </div> <!--! end of .container -->


  <!-- JavaScript at the bottom for fast page loading -->
  <script>window.jQuery || document.write('<script src="/js/jquery-1.6.2.min.js"><\/script>')</script>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
